<mat-list role="list" *ngFor="let mobility of mobilities">
    <mat-list-item role="listitem">
        <mat-icon mat-list-icon>airplane_ticket</mat-icon>
        <div mat-line>{{ mobility.student.firstname }} {{ mobility.student.lastname }} - {{ mobility.student.typeUser}}</div>
        <div mat-line>{{ mobility.student.email }}</div>
        <div mat-line>{{ mobility.country }}, {{ mobility.city }}</div>
        <div mat-line>From {{ mobility.beginDate }} to {{ mobility.endDate }}</div>
        <div mat-line>Submission: {{ mobility.submissionDate }}</div>
        <button mat-mini-fab class="buttonActionMobility" color="primary" (click)="goToEditMobilityPage(mobility);">
            <mat-icon>mode</mat-icon>
        </button>
        <button mat-mini-fab class="buttonActionMobility" color="warn" (click)="openDeleteDialog(mobility.id);">
            <mat-icon>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
  