<mat-toolbar>
    <span>TSE Internships: Search mobilities</span>
</mat-toolbar>

<section>
    <div class="button-row">
        <div class="flex-container">
            <ng-container *ngFor="let navigationButton of navigationButtons">
                <button mat-icon-button routerLink="{{ navigationButton.route }}" color="{{ navigationButton.color }}">
                    <mat-icon>{{ navigationButton.icon }}</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>
</section>